*{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
}

.backgroundImage{
  background-image: url('../public/img/backgroundimage.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
