.dropdown{
    button{
        border: none;
    }
    .dropdownMenu{
        a{
            font-family: 'Bahnschrift';
            padding: 0;
            width: auto;
            &:hover{
                color: #FCD074;
                background-color: transparent;
            }
            &:active{
                color: #C25E84;
                background-color: transparent;
            }
        }
    }
}
@media (max-width: 991px) {
    .dropdown{
        display: none;
    }
}