
.tabContainer{
    font-family: gothic a1;
    color: grey;
    position: fixed;
    left: 29.2vw;
    width: 55%;
    top: 7.4vh;
    z-index: 9;
    background-color: #e9e0e3;
    ul{
        li{
            border: none;
            background-color: transparent;
            
            button{
                font-size: x-large;
                border: none;
                color: grey;
                background-color: transparent;
                &:hover{
                    border: none;
                    background-color: transparent;
                    color: #C25E84;
                }
                
                
            }
            
            img{
                width: 70px;
                height: 70px;
            }
        }
    }
    .imgInput{
        display: none;
    }
    .imgInputLabel{
        width: 30vw;
        height: 40vh;
        background-color: white;

        &:hover{
            cursor: pointer;
            opacity: 0.86;
        }
    }
    .searchTags{
        background-color: #f1eaec;
        height: 2.4rem;
        width: 8rem;
        border: none;
        box-shadow: 0px 0px 1px 3px  rgba(128, 128, 128, 0.23)
    }

}
.searchButton{
    color: white;
    border-radius: 15px;
}
.searchRow{
    background-color: #f1eaec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
        height: auto;
        width: 10vw;
    }
}
